<div>
  Hello <%= @player.name %>
  Your board: <%= @board.grid.to_s %>

  <% (1..@board.side_length).each do |row| %>
  <p>
    <% (1..@board.side_length).each do |column| %>
      <%= (row+64).chr %><%= column %>
    <% end %>
  </p>
  <% end %>
</div>
