<div>
  Hello <%= @player.name %>
  Your board: <%= @board.grid.to_s %>

  <% (0..@board.side_length - 1).each do |row| %>
  <p>
    <% (0..@board.side_length - 1).each do |column| %>
      <%= (row+65).chr %><%= column %>
    <% end %>
  </p>
  <% end %>
</div>
